<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842707148502-988e4i4hh71aulahjm0ckub7d23rvdvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842707148502-988e4i4hh71aulahjm0ckub7d23rvdvt</string>
	<key>API_KEY</key>
	<string>AIzaSyBQrm2JTHvP8v9f3NgJAWLHgnsg26CEe8M</string>
	<key>GCM_SENDER_ID</key>
	<string>842707148502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cubastion.net.tik-tok-clone-native</string>
	<key>PROJECT_ID</key>
	<string>hackathon-1d619</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-1d619.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842707148502:ios:4d437bb33d70deb42fb377</string>
</dict>
</plist>